@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

$rp-red: #e56
$header-color: black
$outer-border-color: white
$outer-border-hover-color: white
$inner-border-color: white
$post-hover-color: white

$post-title-color: black
$post-subtitle-color: black
$post-date-color: black
$post-author-color: black 
$post-at-color: black

html
  scroll-padding-top: 80px

table
  margin: 2.5rem auto
  border-collapse: collapse

  tr:nth-child(even)
    background-color: #eee

th
  padding: 0.2rem 0.5rem
  margin: 0
  border-bottom: 1px solid black

td
  // padding: 0.2rem 0.5rem
  padding: 0.5rem

#blog-bird
  width: 100px

.bkg-img
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0
  filter: brightness(80%) contrast(80%)

.bkg-img-blur
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0
  object-position: 50% 52%

#post-header-blur
  position: absolute
  width: 100%
  height: 100%
  z-index: 1

#post-header-inner
  position: relative
  padding-top: 1rem
  padding-bottom: 1rem
  z-index: 2

#blog-main
  height: 100%

  p, h1, h2, h3, h4, h5, h6, div
    font-family: "Lato", helvetica, sans-serif

.blog-heading
  font-size: 10rem
  text-transform: uppercase
  padding: 0
  margin: 0
  color: $header-color
  // letter-spacing: 0.5rem
  font-weight: 400

.blog-subheading
  font-size: 1.5rem
  margin: 0
  padding: 0
  color: $header-color

.post-left, .post-right
  display: inline-block

.post
  display: block
  // height: 200px
  // min-height: 200px

  h1, h2, p
    margin: 0
    padding: 0

.post-inner 
  // height: 135px
  height: 100%
  overflow: hidden
  z-index: 1
  background-color: rgba(0, 0, 0, 0)

  .post-date
    color: $post-date-color

  .post-by
    color: $post-author-color

  .post-at
    color: $post-at-color

// .post-inner:hover
//   background-color: $post-hover-color

.post-left 
  vertical-align: top
  height: 100%
  width: 20%

  a
    text-decoration: none

  .post-inner
    border-top: 1px solid $outer-border-color
    border-left: 1px solid $outer-border-color
    border-bottom: 1px solid $outer-border-color
    margin: 1rem 0rem 1rem 2rem
    padding: 2rem 0
    // backdrop-filter: blur(30px)
    // -webkit-backdrop-filter: blur(30px)

    p
      padding-left: 2rem

// .post-left .post-inner:hover
//     border-top: 1px solid $outer-border-hover-color
//     border-left: 1px solid $outer-border-hover-color
//     border-bottom: 1px solid $outer-border-hover-color

// div.post-inner.right-hover
//     background-color: $post-hover-color
//     border-top: 1px solid $outer-border-hover-color
//     border-left: 1px solid $outer-border-hover-color
//     border-bottom: 1px solid $outer-border-hover-color

// .post-left:hover .post-inner
//   background: $post-hover-color

// .post-left:hover + .post-right .post-inner
//   background-color: $post-hover-color
//   border-top: 1px solid $outer-border-hover-color
//   border-right: 1px solid $outer-border-hover-color
//   border-bottom: 1px solid $outer-border-hover-color

.post-right
  vertical-align: top
  height: 100%
  width: 79%
  border-left: 1px solid $inner-border-color

  a
    text-decoration: none

  .post-inner
    border-top: 1px solid $outer-border-color
    border-right: 1px solid $outer-border-color
    border-bottom: 1px solid $outer-border-color
    // backdrop-filter: blur(50px)
    // -webkit-backdrop-filter: blur(50px)

    margin: 1rem 2rem 1rem 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover

// .post-right:hover .post-inner
//     border-top: 1px solid $outer-border-hover-color
//     border-right: 1px solid $outer-border-hover-color
//     border-bottom: 1px solid $outer-border-hover-color


.post-inner-text
  height: 100%
  display: block
  padding: 2rem

  h1
      color: $post-title-color

  p
    margin-top: 0.5rem
    color: $post-subtitle-color

#post-main
  z-index: 0
  // background-color: gray
  min-height: 50vh

.post-scroll-tip
  padding-bottom: 0.1rem
  margin-top: 2rem
  text-align: center
  font-size: 1.5rem
  text-transform: lowercase

#post-meta
  z-index: 2
  display: inline-block
  width: 20%
  min-width: 180px
  margin-left: 1rem
  vertical-align: top

  div
    padding: 0.25rem 0.5rem
    margin: 0.5rem
    text-transform: uppercase

#post-header
  position: relative
  overflow: hidden

div.ph-bkg
  position: absolute
  heigth: 100%
  width: 100%
  background-color: deeppink;

#post-header.bh-light-opaque
  // background-color: #eeeeeedd
  // box-shadow: 0px 15px 40px rgba(33, 33, 33, 0.5)
  *
    color: white

  .post-heading
    color: #666

  .post-subheading
    color: #666

  #post-meta
    background-color: #bbbbcc
    border: 1px solid white
    color: white

    div
      border: 1px solid white
      color: white

  .post-scroll-tip
    color: white
    background-color: #bbbbcc

#post-header.bh-dark-opaque
  background-color: #666666dd
  box-shadow: 0px 15px 40px rgba(33, 33, 33, 0.5)

  .post-heading
    color: #ccc

  .post-subheading
    color: #eee

  #post-meta
    background-color: gray
    border: 1px solid #bbb
    color: #ccc

    div
      border: 1px solid #bbb
      color: #ccc

  .post-scroll-tip
    color: #666666
    background-color: #bbb

// @supports (backdrop-filter: blur(30px)) or (-webkit-backdrop-filter: blur(30px))
//   img.bkg-img-blur
//     display: none

// @supports not ((backdrop-filter: blur(30px)) or (-webkit-backdrop-filter: blur(30px)))
//   img.bkg-img-blur
//     display: block
//     filter: blur(30px)
//     transform: scale(1.4)


#post-header.bh-dark-transparent
  border: 1px solid #333;
  // -webkit-backdrop-filter: blur(30px)
  // backdrop-filter: blur(30px)
  background-color: rgba(255, 255, 255, 0.2)

  .post-heading
    color: #333

  .post-subheading
    color: #333

  #post-meta
    border: 1px solid #333
    color: #222

    div
      border: 1px solid #333
      color: #222

  .post-scroll-tip
    color: white
    background-color: #333333dd

#post-header.bh-light-transparent
  // border: 1px solid #eee;
  // -webkit-backdrop-filter: blur(30px)
  // backdrop-filter: blur(30px)
  // background-color: rgba(0, 0, 0, 0.2)
  *
    color: white

  .post-heading
    color: white

  .post-subheading
    color: white

  #post-meta
    border: 1px solid #ddd
    color: #eee

    div
      border: 1px solid #ddd
      color: #eee

  .post-scroll-tip
    color: black
    background-color: #ffffffdd

#post-titles
  z-index: 2
  color: #666
  display: inline-block
  vertical-align: top
  padding-right: 2rem

  h1
    font-size: 7vw
    text-transform: uppercase
    font-weight: 400

  h2
    margin-bottom: 2rem
    font-weight: 300
    line-height: 1.5

.post-meta-item
  font-weight: bold

.content-box-sm,  .content-box, .content-box-lg
  margin: 0 auto;
  z-index: 1;
  min-height: 100vh;

.content-box-sm
  max-width: 50rem

.content-box
  max-width: 70rem

.content-box-lg
  width: 100vw
//   max-width: 60rem

#post-content
  background-color: white
  padding-bottom: 5rem

  .content-box-sm
    padding: 1rem
    padding-top: 2rem
    overflow: scroll

  p, h1, h2, h3, h4, h5, h6, pre, ol, ul, blockquote
    margin: 1rem auto
    text-align: left
    line-height: 1.8

  img, div.img-with-caption
    width: 100%
    // max-width: 800px
    display: block
    margin: 1rem auto

  div.img-with-caption
    padding: 1rem 0

  div.img-caption
    color: #888
    text-align: left
    padding: 0 1rem

  h1, h2, h3
    margin-top: 2rem

  h3, h4, h5, h6
    font-weight: 400

  pre
    padding: 1rem
    border-radius: 8px

// MEDIA QUERIES
// ===================================================================
@media only screen and (max-width: 900px)
  .post-left 
    width: 30%

  .post-right
    width: 69%

  #post-titles
    padding-right: 1rem

    h1, h2, div
      margin-left: 1rem

@media only screen and (max-width: 650px)
  .post-left
    border-right: none

  .post-left, .post-right
    border-left: none
    display: block
    width: 100%
    padding: 0
    margin: 0

  .post-left .post-inner
    margin: 0
    border: none
    border-bottom: 1px solid white
    padding: 0.5rem 1rem

    p
      display: inline-block
      line-height: 1.1rem

  .post-right .post-inner
    margin: 0
    margin-bottom: 1rem
    // border: 1px solid $outer-border-color
    border: none
    padding: 1rem

  .post-inner-text
    padding: 0

  // div.post-inner.right-hover
  //   border: none

  // .post-left:hover .post-inner
  //   // border: none
  //   border-top: 1px solid #ffffff00
  //   border-right: 1px solid #ffffff00
  //   border-left: 1px solid #ffffff00
  //   border-bottom: 1px solid white

  // .post-left:hover + .post-right .post-inner
  //   border: none

  // .post-inner:hover
  //   border: none

  // .post-right:hover .post-inner
  //   border-bottom: 1px solid #ffffff00
  //   border-right: 1px solid #ffffff00
  //   border-left: 1px solid #ffffff00
  //   border-top: 1px solid white

  .post-inner
    height: auto

    .post-date
      display: inline-block
      margin: 0
      padding: 0
      // color: white

    .post-by
      display: inline-block
      // color: white

    .post-at
      display: inline-block
      color: red

  .post-left .post-inner p
    padding: 0

  .post
    height: auto

  #post-header-inner
    padding-bottom: 0


.old-redpoll-warning
  background-color: #333
  padding: 2rem
  color: white
  line-height: 1.8

@media only screen and (max-width: 600px)
  #post-meta
    display: block
    width: 80%
    margin: 0 auto

  #post-titles
    display: block
    // text-align: center
    width: 100%

    h1, h2, div
      margin: 1rem 0.5rem

    h1
      font-size: 10vw

    h2
      font-size: 5vw
      line-height: 1.2

@media only screen and (max-width: 500px)
  #blog-bird
    width: 90px

  h1.blog-heading
    font-size: 18vw

  #post-titles
    h1
      font-size: 10vw

    h2
      font-size: 1.2rem

  #post-main
    min-height: 100vh

  .post-inner-text h1
    margin-bottom: 1rem

  .section-spacer:first-child
    height: 5rem

@media only screen and (max-width: 340px)
  #post-titles
    h1
      font-size: 1.4rem

  .post-inner-text h1
    font-size: 1.6rem

@media only print
  #post-meta
    display: none

  #post-titles
    width: auto
    marin: 0
    padding: 1rem

    h1, h2
      padding: 0
      margin: 0
  
    h1
      padding-bottom: 1rem

  #post-header
    margin: 0

  #post-main
    min-height: 0

