$rp-red: #e56
$header-color: $rp-red
$outer-border-color: #ddd
$inner-border-color: black

$post-title-color: black
$post-subtitle-color: black
$post-date-color: black
$post-author-color: black
$post-at-color: gray

.bkg-img
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0

.bkg-img-blur
  width: 100%
  height: 100%
  position: absolute
  object-fit: cover
  z-index: 0
  object-position: 50% 52%

#post-header-blur
  position: absolute
  width: 100%
  height: 100%
  z-index: 1

#post-header-inner
  position: relative
  padding-top: 1rem
  padding-bottom: 1rem
  z-index: 2

#blog-main
  color: #f7f7f7
  min-height: 100%

.blog-heading
  font-size: 3rem
  font-family: Raleway
  text-transform: uppercase
  padding: 0
  margin: 0
  color: $header-color

.blog-subheading
  font-size: 1.5rem
  margin: 0
  padding: 0
  color: $header-color

.post-left, .post-right
  display: inline-block

.post
  display: block
  // height: 200px
  // min-height: 200px

  h1, h2, p
    margin: 0
    padding: 0
    padding-right: 2rem

.post-inner 
  // height: 135px
  height: 100%
  overflow: hidden
  z-index: 1

  .post-date
    color: $post-date-color

  .post-by
    color: $post-author-color

  .post-at
    color: $post-at-color

.post-inner:hover
    background-color: #f3f3f3

.post-left 
  vertical-align: top
  height: 100%
  width: 20%

  .post-inner
    border-top: 1px solid $outer-border-color
    border-left: 1px solid $outer-border-color
    border-bottom: 1px solid $outer-border-color
    margin: 1rem 0rem 1rem 2rem
    padding: 2rem 0

    p
      padding-left: 2rem


.post-right
  vertical-align: top
  height: 100%
  width: 79%
  border-left: 1px solid $inner-border-color


  .post-inner
    border-top: 1px solid $outer-border-color
    border-right: 1px solid $outer-border-color
    border-bottom: 1px solid $outer-border-color

    margin: 1rem 2rem 1rem 0
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.post-inner-text
  height: 100%
  display: block
  padding: 2rem

  h1
      color: $post-title-color

  p
    color: $post-subtitle-color

#post-main
  z-index: 0
  background-color: gray
  min-height: 50%

.post-scroll-tip
  padding-bottom: 0.1rem
  margin-top: 2rem
  text-align: center
  font-size: 1.5rem
  text-transform: lowercase

#post-meta
  z-index: 2
  display: inline-block
  width: 20%
  min-width: 180px
  margin-left: 1rem
  vertical-align: top

  div
    padding: 0.25rem 0.5rem
    margin: 0.5rem
    text-transform: uppercase

#post-header
  position: relative
  vertial-align: top
  margin-top: 20vh
  margin-bottom: 15vh
  overflow: hidden

div.ph-bkg
  position: absolute
  heigth: 100%
  width: 100%
  background-color: deeppink;

#post-header.bh-light-opaque
  background-color: #eeeeeedd
  box-shadow: 0px 15px 40px rgba(33, 33, 33, 0.5)

  .post-heading
    color: #666

  .post-subheading
    color: #666

  #post-meta
    background-color: #bbbbcc
    border: 1px solid white
    color: white

    div
      border: 1px solid white
      color: white

  .post-scroll-tip
    color: white
    background-color: #bbbbcc

#post-header.bh-dark-opaque
  background-color: #666666dd
  box-shadow: 0px 15px 40px rgba(33, 33, 33, 0.5)

  .post-heading
    color: #ccc

  .post-subheading
    color: #eee

  #post-meta
    background-color: gray
    border: 1px solid #bbb
    color: #ccc

    div
      border: 1px solid #bbb
      color: #ccc

  .post-scroll-tip
    color: #666666
    background-color: #bbb

@supports (backdrop-filter: blur(30px))
  img.bkg-img-blur
    display: none

@supports not (backdrop-filter: blur(30px))
  img.bkg-img-blur
    display: block
    filter: blur(30px)
    transform: scale(1.4)


#post-header.bh-dark-transparent
  border: 1px solid #333;
  backdrop-filter: blur(30px)
  background-color: rgba(255, 255, 255, 0.2)

  .post-heading
    color: #333

  .post-subheading
    color: #333

  #post-meta
    border: 1px solid #333
    color: #222

    div
      border: 1px solid #333
      color: #222

  .post-scroll-tip
    color: white
    background-color: #333333dd

#post-header.bh-light-transparent
  border: 1px solid #eee;
  backdrop-filter: blur(30px)
  background-color: rgba(0, 0, 0, 0.2)

  .post-heading
    color: white

  .post-subheading
    color: white

  #post-meta
    border: 1px solid #ddd
    color: #eee

    div
      border: 1px solid #ddd
      color: #eee

  .post-scroll-tip
    color: black
    background-color: #ffffffdd

#post-titles
  z-index: 2
  color: #666
  display: inline-block
  vertical-align: top
  padding-right: 2rem
  width: 70%

  h1
    font-size: 2.5rem
    text-transform: uppercase

  h1, h2
    padding: 0
    margin: 0
    margin-left: 3rem;

  h2
    margin-bottom: 2rem

.post-meta-item
  font-weight: bold

#post-content
  padding-bottom: 5rem
  background-color: white;

  p, h1, h2, h3, h4, h5, h6, pre, ol, ul, blockquote
    margin: 1rem auto
    text-align: left
    max-width: 600px

  img, div.img-with-caption
    width: 100%
    max-width: 800px
    display: block
    margin: 1rem auto

  div.img-with-caption
    padding: 2rem 0

  div.img-caption
    color: gray

  h1, h2, h3
    margin-top: 2rem;

// MEDIA QUERIES
// ===================================================================
@media only screen and (max-width: 900px)
  .post-left 
    width: 30%

  .post-right
    width: 69%

  .post
    // height: 250px

  .post-inner
    // height: 200px

@media only screen and (max-width: 900px)
  #post-titles
    width: 60%
    padding-right: 1rem

    h1, h2
      margin-left: 1rem;

@media only screen and (max-width: 650px)
  .post-left
    border-right: none

  .post-left, .post-right
    border-left: none
    display: block
    width: 100%
    padding: 0
    margin: 0

  .post-left .post-inner
    margin: 0
    border-bottom: none
    border-left: none
    border-top: white
    padding: 0.5rem 1rem

    p
      display: inline-block
      line-height: 1.1rem

  .post-right .post-inner
    margin: 0
    margin-bottom: 1rem
    border: 1px solid #bbb
    padding: 1rem

  .post-inner-text
    padding: 0

  .post-inner
    height: auto

    .post-date
      display: inline-block
      margin: 0
      padding: 0
      // color: white

    .post-by
      display: inline-block
      // color: white

    .post-at
      display: inline-block
      color: red

  .post-left .post-inner p
    padding: 0

  .post
    height: auto

  #post-header-inner
    padding-bottom: 0

@media only screen and (max-width: 600px)
  #post-meta
    display: block
    width: 80%
    margin: 0 auto
    // margin: 0 1rem

  #post-titles
    display: block
    text-align: center
    width: 100%

    h1
      margin: 1rem
      font-size: 7vw

    h2
      margin: 1rem
      font-size: 5vw

@media only screen and (max-width: 500px)
  #post-titles
    h1
      font-size: 1.7rem

    h2
      font-size: 1.2rem

  #post-main
    min-height: 100%
