$mobile-width: 30rem;

*, *::before, *::after
  box-sizing: border-box

*
  margin: 0

body
  line-height: 1.5
  -webkit-font-smoothing: antialiased

img, picture, video, canvas, svg
  display: block
  max-width: 100%

input, button, textarea, select 
  font: inherit;

p, h1, h2, h3, h4, h5, h6
  overflow-wrap: break-word
  font-size: 1rem

#root, #__next
  isolation: isolate

h1, h2, h3, h4, h5, h6, p, li, div
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji
  color: white


a
  color: white

.plain
  text-decoration: none

#main
  overflow-x: hidden

#gradient-background-1
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100vw
  display: block
  z-index: -3
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  // background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  // background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  // background-image: linear-gradient(to bottom, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
  // background-image: linear-gradient(to bottom, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  // background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

#gradient-background-2
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100vw
  display: block
  z-index: -3
  // background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-image: linear-gradient(to top left, #dddddd 30%, #fff 80%)

#gradient-background-3
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100vw
  display: block
  z-index: -3
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);

#gradient-background-4
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  display: block
  z-index: -3
  background: radial-gradient(circle at 100%, #222, #222 50%, #777 75%, #222 75%)
  transform: scale(110%)

  @media (max-width: $mobile-width)
    background-image: linear-gradient(to bottom right, #333333 30%, #555555 100%)
    // background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

.bold
  font-weight: bold

.background
  position: fixed
  top: 0
  left: 0
  z-index: -2

.enlarge-20
  transform: scale(150%)

ul, ol
  padding: 0.25rem 1.5rem

.full-page
  height: 100vh
  width: 100vw

.half-page
  height: 40rem
  width: 100vw

.grid-2
  display: grid
  justify-content: center;
  gap: 3rem
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

  &.small
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

.workflow-item
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem


  img
    margin: 0 auto

.flex-center-left
  display: flex
  justify-content: left
  align-items: center

.flex-top-center
  display: flex
  justify-content: center
  align-items: top
  gap: 3rem

.flex-center
  display: flex
  justify-content: center
  align-items: center

.center
  text-align: center

nav
  position: fixed
  display: flex
  background-color: #111
  padding: 0.5rem 2rem
  font-weight: 300
  font-size: 0.8rem
  border-radius: 10px
  margin: 1rem
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
  z-index: 100

  @media (max-width: $mobile-width)
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5)
    padding: 0.5rem 0.5rem
    margin: 0rem
    border-radius: 0
    width: 100%
    // margin: 0.5rem
    
  a
    text-decoration: none

  div:hover
    // background-color: #222
    border-color: #333

  div
    padding: 0.5rem 1rem
    border-radius: 10px
    border: 1px solid transparent
    transition: border-color 0.3s ease

    @media (max-width: $mobile-width)
      padding: 0.25rem 0.5rem

  .logo
    margin-right: 2rem
    font-size: 1rem

    @media (max-width: $mobile-width)
      margin-right: 0.25rem

// #tri-1
//   position: fixed
//   content: ""
//   width: 100%
//   height: 50%
//   bottom: 0
//   transform: rotate(-30deg) translate(0, 10rem)
//   z-index: 2
//   backdrop-filter: invert(70%)

// #tri-2
//   position: fixed
//   content: ""
//   width: 100%
//   height: 50%
//   bottom: 0
//   transform: rotate(-25deg) translate(0, 10rem)
//   z-index: 2
//   backdrop-filter: invert(60%)
//   -webkit-backdrop-filter: invert(60%)


#title
  h1 
    font-size: 4rem
    line-height: 1.2
    font-weight: 300

    @media (max-width: $mobile-width)
      font-size: 2.5rem

  p
    padding-top: 1rem
    font-size: 1.2rem


.shift-up
  transform: translate(0, -7.4rem)

.wrapper
  margin-inline: auto
  padding-inline: 1rem
  max-width: 50rem

  &.w-80
    max-width: 80rem

.w-third
  max-width: 15rem
  min-width: 15rem

.w-half
  max-width: 25rem
  min-width: 15rem


.wrapper.full-width
  max-width: 100vw

#animation
  // mix-blend-mode: screen
  mix-blend-mode: color-dodge
  // mix-blend-mode: color-burn
  // mix-blend-mode: hard-light
  // mix-blend-mode: difference
  // mix-blend-mode: luminosity
  // filter: invert(100%)
  // opacity: 0.6
  // filter: invert(100%)


section

  &.header
    padding-top: 10rem

    @media (max-width: $mobile-width)
      padding-top: 5rem

    h1
      font-size: 4rem
      font-weight: 300
      line-height: 1.2

      @media (max-width: $mobile-width)
        font-size: 2.5rem

    h2
      @media (max-width: $mobile-width)
        font-size: 1.5rem

    &.push-up
      padding-top: 5rem

  &.diagonal
    padding-block: 8rem
    margin-block: 10rem
    --skew-angle: -5deg
    --background: #1112
    --translate-y: 0
    position: relative
    isolation: isolate

    // &.gradient
    //   --background: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);

    &.half
      margin-top: 0rem
      padding-top: 10rem
      --translate-y: 10rem
      overflow-y: hidden
      padding-bottom: 0
      margin-bottom: 0

    &::after
      content: ""
      background: var(--background)
      position: absolute
      z-index: -1
      inset: 0
      transform: skewY(var(--skew-angle)) translateY(var(--translate-y))
      box-shadow: 10px 10px 30px #1114
      -webkit-backdrop-filter: blur(100px) brightness(150%) invert(100%)
      backdrop-filter: blur(100px) brightness(150%) invert(100%)

      @media (max-width: $mobile-width)
        -webkit-backdrop-filter: brightness(50%)
        backdrop-filter: brightness(50%)

  h1
    font-size: 2.5rem
    padding-bottom: 1rem

    @media (max-width: $mobile-width)
      font-size: 1.7rem

  h2
    font-size: 1.5rem
    padding-bottom: 0.5rem

  h3
    font-size: 1.2rem
    padding-bottom: 0.5rem

  p
    line-height: 1.7
    padding-bottom: 1rem

.footer 
  padding-block: 5rem
  overflow-y: hidden

  a
    text-decoration: none

  div
    padding: 1.5rem



input[type=text], input[type=email]
  outline: none
  color: white
  border-radius: 10px
  background-color: #222222
  border: 1px solid #555555
  margin-top: 0.5rem
  margin-bottom: 0.5rem
  padding: 0.5rem 2rem
  transition: border-color 0.3s ease
  transition: color 0.3s ease
  transition: background-color 0.3s ease

  &:active, &:focus
    border-color: white

input[type=submit]
  outline: none
  border-radius: 10px
  background-color: #111111
  border: 1px solid #555555
  margin-top: 0.5rem
  color: #cccccc
  padding: 0.5rem 2rem
  transition: border-color 0.3s ease
  transition: color 0.3s ease
  transition: background-color 0.3s ease

  &:hover
    border-color: white
    color: white

  &:active
    border-color: white
    color: white
    background-color: #555

div.button
  border: 2px solid white
  font-size: 1.2rem
  color: white
  border-radius: 10px
  padding: 1rem
  background: none
  display: inline
  transition: all 0.3s ease
  background: #fff2
  -webkit-backdrop-filter: blur(100px)
  backdrop-filter: blur(100px)

  &:hover
    // color: deeppink
    // border-color: deeppink
    background-color: #fff4

#contact-form
  max-width: 30rem
  margin-inline: auto

#blog-main

  margin-top: 5rem

  .blog-heading
    font-size: 4rem
    margin-bottom: 3rem

    @media (max-width: $mobile-width)
      font-size: 3rem
      margin-bottom: 1.5rem

  *
    color: #333

  a
    text-decoration: none

  .post
    display: grid
    grid-template-columns: 1fr 3fr
    margin-bottom: 3rem

    .post-left
      padding-right: 2rem

    h1
      font-size: 1.3rem
      line-height: 1.2
      padding-bottom: 0.5rem

    p
      line-height: 1.2

pre
  padding: 1rem 1rem
  margin: 1rem 0rem
  margin-bottom: 2rem
  border-radius: 10px
  overflow-x: scroll
  font-size: 1rem

img.icon-md
  width: 100px
  margin: 0 auto

#post-main
  overflow-x: hidden

  h1, h2, h3, h4, h5, h6, p, tr, td, a, li
    color: #333

  #post-body
    padding-left: 1rem
    padding-right: 1rem
    margin: 0 auto
    max-width: 60rem

    // @media (max-width: $mobile-width)
    //   m: 5rem  

    img
      margin: 1rem auto

    .old-redpoll-warning
      padding: 0 2rem
      border-left: 4px solid crimson
      background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
      margin-bottom: 1rem

      p
        color: white

  h1
    font-size: 2rem
    padding: 1rem 0
    padding-bottom: 0

  h2
    font-size: 1.5rem
    padding-bottom: 0.5rem

  p
    line-height: 1.7
    padding-top: 0.7rem
    padding-bottom: 0.7rem

  .img-with-caption
    .img-caption
      display: flex
      justify-content: center

      p
        max-width: 40rem
        line-height: 1.2

.absolute
  position: absolute

#post-title
  position: relative
  display: grid
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  margin-bottom: 1rem

  #post-image
    background-size: cover;
    filter: contrast(80%)

  div.image-attr
    position: absolute
    bottom: 0
    right: 2rem
    padding: 1rem


  #post-header
    max-width: 50rem
    padding-left: 1rem
    padding-right: 1rem
    
    h1, h2, p, div
      color: white

    h1
      font-size: 4rem
      line-height: 1.2
      font-weight: 300

      @media (max-width: $mobile-width)
        font-size: 2rem
        padding-bottom: 1rem

    h2
      padding-bottom: 2rem
      font-weight: 400
      font-size: 1.5rem

#post-info
  border-top: 1px solid #333333
  margin-top: 2rem
  margin-bottom: 2rem
  padding-top: 1rem
  padding-bottom: 2rem
  margin-left: 2rem
  margin-right: 2rem
  display: grid
  grid-template-columns: 2fr 4fr 4fr

  @media (max-width: $mobile-width)
    grid-template-columns: 1fr 1fr 1fr
    margin-left: 0rem
    margin-right: 0rem
    margin-bottom: 0.5rem
    margin-bottom: 0.5rem

  p
    padding: 0

  div
    padding: 0 2rem

    @media (max-width: $mobile-width)
      padding: 0 0.5rem


table
  border-collapse: collapse
  margin: 2rem 0


  @media (max-width: $mobile-width)
    font-size: 0.8rem

  td, th
    padding: 0.25rem 0.5rem

  thead
    border-bottom: 2px solid #333

  tbody
    tr
      border-bottom: 1px solid #fff0
      transition: border-color 0.3s ease

      &:hover
        border-color: #333
        
.full-width
  max-width: 100vw

.spacer.h10
  height: 5rem

#people
  display: flex
  justify-content: center
  margin-bottom: 5rem

  #people-container
    margin-top: 3rem
    display: flex
    justify-content: center
    gap: 2rem
    flex-wrap: wrap

  h1
    font-size: 4rem

  p
    padding-bottom: 0

  .person-image
    width: 10rem
    height: 10rem
    background-size: cover
    border-radius: 50%
    margin: 0 auto
    margin-bottom: 1.5rem
    border: 1px solid #777
    // transition: border-radius 0.3s ease
    // transition: border-color 0.3s ease
    transition: all 0.3s ease
    filter: grayscale(50%)

  .person
    width: 17rem
    height: 35rem
    border: 1px solid #777
    border-radius: 10px
    padding: 2rem 1rem
    -webkit-backdrop-filter: blur(100px)
    backdrop-filter: blur(100px)
    transition: border-color 0.3s ease

    &:hover
      border-color: white

      .person-image
        border-color: white
        filter: grayscale(0)

  .person-name
    font-weight: bold
    font-size: 1.2rem

  .person-title
    font-weight: bold

  .person-bio
    margin-top: 0.5rem
    line-height: 1.2
