@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap'); @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;500&display=swap');

html, body
  height: 100%
  width: 100%
  display: block
  background-color: #111;

p, h1, h2, h3, h4, h5, h6, div
  font-family: "Lato", sans-serif
  font-weight: 300;
  outline: none;
  color: white;

pre
  padding: 1.5rem
  font-family: "Roboto Mono", monospace
  border-radius: 5px
  font-size: 0.9rem
  overflow-x: hidden

code
  font-size: 0.9rem
  font-family: "Roboto Mono", monospace

a
  color: inherit

p a
  transition-timing-function: ease
  transition: 0.3s all

a.no-dec
  text-decoration: none

p a:hover 
  color: #ddd

blockquote
  padding-left: 1rem
  border-left: 4px solid #ccc
  color: #555

a.anchor
  display: block;
  position: relative;
  top: -4rem;
  visibility: hidden;

p
  line-height: 1.5rem;

li
  margin: 0.5rem 0

#main
  margin: 0
  background: none
  z-index: 1
  width: 100%

#call-to-action
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  color: white
  text-align: center
  padding: 0.5rem 0
  transition-timing-function: ease
  transition: 0.3s all
  z-index: 100
  background-color: #111

  .flex
    flex-wrap: none
    display: flex
    align-items: center
    width: auto
    justify-content: center;

  p
    font-size: 13pt

#landing
    padding: 0;
    margin: 0;
    z-index: 2;

.content 
  display: flex
  flex-wrap: wrap
  justify-content: center
  transition-timing-function: ease
  transition-duration: 0.5s
  padding: 0
  margin: 0 auto
  // background-size: cover
  z-index: 2


.content-row
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  // color: white;

div.content-row div.narrow
  max-width: 1190px;

div.content-inner
  color: white;
  display: block;
  flex: 1;
  min-width: 300px;
  max-width: 40rem;
  padding: 2rem;
  margin: 2rem;
  border-left: 2px solid white;

  .button
    margin: 0;
    margin-top: 1rem;


.feature-row
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Prompt", "Avenir Next";
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  transition-timing-function: ease;
  transition-duration: 0.5s;

  div
    font-weight: 300

  p
    line-height: 1
    padding: 0.25rem 0

  .vline
    align-self: stretch
    height: auto
    display: block
    width: 0.2rem
    margin-left: 1rem
    margin-right: 1rem
    border-left: 1px solid white
    border-right: 1px solid white
    transition-timing-function: ease
    transition-duration: 0.5s

  .center
    width: 50px;

  .left, .right 
    font-weight: 300;
    color: white;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    max-width: 18rem;

  .left
      flex: 15;

  .right
      flex: 15;

.feature-row:hover
  border-right: 2px solid white;
  border-left: 2px solid white;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  background-color: rgba(133, 133, 133, 0.2);
  color: white;

  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  .vline
    background-color: white;
    transition-timing-function: ease;
    transition-duration: 0.5s;

.cr-bkg
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: cover;
  background-image: linear-gradient(#eee, rgba(255, 255, 255, 0.7), #fff), url(/img/black-and-white-clouds-cold-2086620.jpg);

.title-bkg
  background-color: #eee;


// NAVBAR
// ================================================================

#nav
  display: flex
  position: fixed
  top: 0
  left: 0
  text-align: center
  align-items: center
  z-index: 100
  width: 100%
  transition: 0.5s ease all

#nav-left, #nav-right
  flex: 1;

#nav-center
  display: flex;
  padding: 1rem;

  div
    margin: 0 1rem;
    padding: 0.5rem 0.7rem;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0);
    transition-timing-function: ease;
    transition-duration: 0.5s;
    color: white;
    font-family: "Prompt", "Avenir Next";

  a
    text-decoration: none;

  div:not([class]):hover
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition-timing-function: ease;
    transition-duration: 0.5s;
  
  div.logo
    color: red;
    border: 1px solid red;
    transition-timing-function: ease;
    transition-duration: 0.25s;

  // cancel hover behavior
  div.logo:hover
    background: none;

#background 
  background-color: #aaa
  position: fixed;
  background-image: radial-gradient(circle at 15% 15%, rgba(15, 15, 35, 0.0) 0%, rgba(15, 15, 35, 0.2) 25%, rgba(15, 15, 25, 0.9) 75%, rgba(15, 15, 15, 1.0) 100%), url('img/dunes-1.jpg');
  // background-image: radial-gradient(circle at 15% 15%, rgba(15, 15, 35, 0.0) 0%, rgba(15, 15, 35, 0.0) 25%, rgba(55, 15, 15, 0.5) 75%, rgba(15, 15, 15, 1.0) 100%), url('img/puritas-synth.jpg');
  // background-image: radial-gradient(circle at 15% 15%, rgba(15, 15, 35, 0.0) 0%, rgba(15, 15, 35, 0.0) 25%, rgba(35, 15, 25, 0.4) 85%, rgba(15, 15, 15, 1.0) 100%), url('img/puritas-synth.jpg');
  // background-image: radial-gradient(circle at 50% 15%, rgba(15, 15, 35, 0.0) 0%, rgba(15, 15, 35, 0.0) 25%, rgba(35, 15, 25, 0.8) 75%, rgba(15, 15, 15, 1.0) 100%), url('img/puritas-synth.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
  transition: 1.0s all;
  transition: 1s filter ease;

.full-page-flex
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;

.full-page
  margin: 0;
  height: 100vh;
  width: 100%;


// TITLE
// ================================================================
.height-100
  min-height: 100vh

#pre-title
  height: 30vh

#post-title
  height: 20vh

#main-logo
  text-align: center
  padding: 1rem
  padding-top: 0
  // padding-top: 30vh

  img 
    opacity: 0.7
    width: 100%
    max-width: 100px

#title
  text-align: center
  // max-width: 53rem
  color: white

div.mission
  padding-bottom: 2rem;

.mission 
  h1
    font-family: "Raleway"
    text-transform: uppercase
    text-align: center
    font-weight: 100
    margin: 1rem 0;
    letter-spacing: 3vw
    font-size: 8vw
    color: crimson

  p
    font-family: "Prompt", "Avenir Next"
    font-weight: 300
    font-size: 1.1rem

  a
    text-align: left
    border-left: 1px solid white
    color: white
    padding: 0.5rem 1rem
    text-decoration: none

  a:hover
    background-color: rgba(150, 150, 150, 0.1);

// BUTTON
.button 
  color: white;
  font-family: "Prompt", "Avenir Next";
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white;
  width: 10rem;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  display: inline-block;
  transition: 0.3s all;
  cursor: default;

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  -moz-backdrop-filter: blur(50px);

.button:hover
  background-color: #ffffff33

input:focus, textarea:focus, select:focus
    outline: none;

#subscribe-bar
  margin: 0.5rem;
  margin-top: 10rem;

#subscribe-form
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 8rem;
  border: 1px solid white;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  h3
    border-bottom: 1px solid white;
    padding: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;

  input
    background: none;
    font-family: "Prompt", "Avenir Next";
    font-weight: 200;
    color: white;

  input[type="text"], input[type="email"]
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid white;
    font-size: 1rem;

  input[type="text"]:focus::placeholder, input[type="email"]:focus::placeholder
      color: #777;

  input[type="submit"]
    padding: 0.2rem 1rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid white;
    font-size: 1rem;
    color: white;
    width: auto;
    transition-timing-function: ease;
    transition: 0.3s all;

  input[type="submit"]:hover
    background-color: rgba(255, 255, 255, 0.2);

  input[type="submit"]:active
    background-color: rgba(255, 255, 255, 0.8);

::placeholder
  color: #ccc;
  transition-timing-function: ease;
  transition: 0.3s all;

// NEWS ITEMS
// ================================================================

.flex-center-100
  display: flex;
  align-items: center

#news
  color: #333
  margin: 0 auto
  margin-top: 4rem
  position: relative
  z-index: 1
  padding: 0 1rem
  max-width: 600px

div.news-item
  color: #333
  display: block
  padding: 0rem 2rem
  margin: 1rem
  margin-bottom: 2rem
  border: 1px solid #444
  transition: all 0.2s ease-in
  background-color: rgba(255, 255, 255, 0.0)

  h1
    font-size: 1.7rem
    margin-bottom: 0
    padding-bottom: 0

div.news-item:hover
  color: white
  background-color: rgba(25, 25, 25, 0.8)


// SECTIONS
// ================================================================

.section-header
  text-align: center
  text-transform: uppercase

.section-spacer
  height: 6rem


// PEOPLE
// ================================================================

.people
  padding-top: 2rem;
  text-align: center;
  vertical-align: middle;
  width: 100%;

.person
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem;

.person-image 
  width: 14rem;
  height: 12rem;
  background-color: deeppink;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(40%) contrast(80%);

.person-description
  width: 13.9rem;
  height: 16rem;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
  overflow-y: hidden;

.person-name
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;

.person-title
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bbb;
  color: #777;
  font-size: 0.9rem;

.person-bio
  text-align: left;
  font-size: 0.85rem;
  line-height: 1.25;
  padding: 1rem;
  padding-top: 0.0rem;
  margin-top: 0;
  padding-bottom: 0;

.bio-toggle
  font-size: 0.8rem;
  display: none;
  padding: 0.2rem 0.5rem;
  margin: 0 auto;
  color: #bbb;
  font-weight: 500;

.bio-toggle:hover
    cursor: pointer;


// FOOTER
// ================================================================

#footer
  padding-top: 10rem;
  padding-bottom: 10rem;

#footer p
  color: white;
  text-align: center;

#footer
  display: flex;
  justify-content: center;
  font-family: "Prompt", "Avenir Next";
  color: white;
  font-size: 0.9rem;
  padding-top: 10rem;

  *
    z-index: 2;
    padding: 1rem;

  a
    text-decoration: none;


// MISC
// ================================================================
.dark-bkg
  background-color: rgba(15, 15, 15, 1);

.darken-background
  filter: brightness(0.3) grayscale(0.5);

.background-filter
  filter: brightness(1.0) grayscale(0);

.transparent
  opacity: 0;

p span.arch-name
  text-transform: uppercase;
  font-weight: 300;

.relative
  position: relative

.align-left
  text-align: left;

.gray-bkg
  background-color: #bbbbc3;

.black-bkg
  background-color: #111;

.callout
  color: #bbb;
  font-weight: 500;

.center 
  text-align: center;

.image-holder-md
  width: 100%;
  background-color: #eee;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;

  img
    max-width: 100%;
    max-height: 50vh;

.image-holder-sm
  width: 100%;
  height: 200px;
  background-color: #eee;

.icon-holder-sm
  width: 100%;
  height: 100px;
  text-align: center;
  opacity: 0.5;

  img
    height: 80px;
    margin: 10px 0;

p.small
  font-size: 0.8;
  color: #ddd;



// MOBILE
// ==================================================================

.mobile-only
  display: none;


#mobile-nav
  // padding: 0.5rem 0.75rem;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 2;
  // font-size: 1.2rem;
  // background-color: #444;
  // color: white;
  // box-shadow: 2px 2px 15px rgba(33, 33, 33, 0.4);
  // text-align: left;

  // ul
  //   padding: 0;
  //   margin: 0;

  // p
  //   padding: 0.5rem;
  //   margin: 0;

  // a
  //   color: white;
  //   text-decoration: none;

// #menu-toggle
  // cursor: pointer;
  // font-size: 2rem;

// #mobile-menu
  // padding: 0.5rem;
  // border-top: 1px solid white;
  // transition: all 0.3s ease;

// .mm-hidden
  // max-height: 0;
  // max-width: 10px;
  // margin: 0;
  // padding: 0;
  // visibility: hidden;
  // opacity: 0;

// .mm-shown
  // max-height: 300px;
  // display: block;
  // max-width: 200px;
  // visibility: visible;
  // opacity: 1;

// #mobile-menu.mm-hidden
  // padding: 0;

.js-only
  display: none;

.align-right
  text-align: right;

.align-center
  text-align: center;

.align-left
  text-align: left;

a.no-decoration
    text-decoration: none

.blue
  color: lightskyblue

.red
  color: lightpink

// MEDIA QUERIES
// ===================================================================
// @media only screen and (max-width: 1200px)
//   #title-parent
//     min-height: 50vh

//   // #title
//   //   min-height: 50vh
    
//   #news
//     text-align: center
//     max-width: 100%
//     min-height: 50vh
//     padding: 0
//     margin-top: 4rem

//   div.news-item
//     vertical-align: top
//     max-width: 250px
//     display: inline-block

//     h1
//       font-size: 1.4rem



  // .flex-center-100
  //   display: block;

// @media only screen and (max-width: 1200px)
//   #main-logo
//     padding-top: 6rem

// @media screen and (max-width: 1000px)
//   .background-filter
//     transition-timing-function: ease;
//     transition: 0.3s all;
//     filter: brightness(0.5);

  // .mission h1
  //   font-size: 3rem;
  //   letter-spacing: 0.75rem

// @media screen and (min-width: 1000px)
  // .mission h1
  //   font-size: 4.5rem;
  //   letter-spacing: 1.15rem

@media screen and (max-width: 480px)
  #nav-center
    padding: 0.7rem;

  #nav-center div
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    font-weight: 300;
    font-size: 0.9rem

  // .mission h1
  //   font-size: 2rem;
  //   letter-spacing: 0.4rem

  #background
    // filter: brightness(0.5);
    // background-image: radial-gradient(circle at 15% 15%, rgba(15, 15, 15, 0.6) 0%, rgba(15, 15, 15, 0.7) 25%, rgba(15, 15, 15, 0.9) 75%, rgba(15, 15, 15, 1.0) 100%);
    // background: none
    background-color: #222

  .button
    font-size: 0.9rem;
    width: 7rem;

  // #nav
  //   background-color: #111;

  div.mission
    padding-bottom: 0.5rem;

  .content-inner h1
    font-size: 11vw;

  div.content-inner
    padding: 0;
    margin: 2rem 0;
    border: none;

@media screen and (max-height: 800px)
  .feature-row
    display: none;


// @media only screen and (max-height: 1000px)
//   #title-parent
//     display: flex
//     height: 90vh


// @media only screen and (max-width: 600px)
//   #new
//     margin: 0

//   #title 
//     text-align: center;
//     padding: 0;
//     width: 100%;

//     h1
//       font-size: 10vw
//       font-weight: 300
//       margin-bottom: 1rem

//     h2
//       font-size: 1.2rem;

//   #pre-title
//     height: 10rem;

//   #post-title
//     height: 5rem;

//   #navbar li
//     padding: 0 0.3rem;

//   // #main-logo
//   //   // padding-top: 20vh;
//   //   padding-top: 6rem;

@media only screen and (max-height: 412px)
  .no-mobile
    display: none;

  .mobile-only
    display: block;

@media only screen and (max-width: 500px)
  .no-mobile
    display: none;

  .mobile-only
    display: block;

  pre
    padding: 0.5rem

  #subscribe-form
    margin-top: 0


@media only screen and (max-width: 400px) and (max-height: 600px)
  // #main-logo
  //   padding-top: 3rem;

  blockquote
    margin-left: 0rem
    padding-left: 1rem
