{% extends "base.html" %}
{% block title %}Not Found{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}
  <div class="content-row">
    <div class=section-spacer></div>
    <div class="content-box">
      <center>
        <h1 style="font-size: 20vw; line-height: 1; margin-bottom: 1rem;">404</h1>
        <h2>The page you are looking for does not exist.</h2>
      </center>
    </div>
    <div class=section-spacer></div>
    <div class=section-spacer></div>
  </div>
{% endblock content %}
