{% import "macros/signup.html" as signup %}
<!DOCTYPE html>
<!-- <html lang="en" data-theme="dracula"> -->

<head>
  {% if "redpoll" in config.base_url %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137238038-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137238038-1');
  </script>
  {% endif %}
  {% block head %}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if section %}
  <title>{% block title %}{{ section.title }}{% endblock title %}</title>
  {% elif page %}
  <title>{% block title %}{{ page.title }}{% endblock title %}</title>
  {% endif %}

  <link rel="stylesheet" href="{{ get_url(path='/style0002.css', cachebust=true) }}">
  <meta name="theme-color" content="#111111" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/avicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  {% endblock head %}
</head>

<body>
  <nav>
    <div class="inner">
      <div id="nav-left">
        <div class="logo">
          <a href="{{ config.base_url }}">
            <img id="bird" src="{{ config.base_url }}/img/bird.png" width="40px" />
          </a>
        </div>
        <div class="logo" style="padding-right: 1rem"><a href="{{ config.base_url }}">Redpoll</a></div>
        <div><a href="{{ config.base_url }}/blog">Posts</a></div>
      </div>
      <div id="nav-right">
        {% if show_signup_form %}
        <div id="cta"><a href="#signup">Try it out</a></div>
        {% endif %}
      </div>
    </div>
  </nav>


  <div id="main">

    {% block content %}{% endblock content %}

    {% if show_signup_form %}
    <section>
      <div id="signup">
        <h1>Try Plover In Your Browser</h1>
        <p>Fill out our contact form and try out Plover in your browser today.</p>
        <br />
        <br />
        <form action="https://formspree.io/f/xwkgzago" method="post">
          <div>
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
          </div>

          <div>
            <label for="org">Organization</label>
            <input name="org" id="org" type="text">
          </div>

          <div>
            <label for="email">Email</label>
            <input name="Email" id="email" type="email">
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
    {% endif %}

    <footer>
      <div>
        <a href="https://www.linkedin.com/company/redpoll">Linkedin</a>
      </div>
      <div>
        <a href="mailto:info@redpoll.ai">Contact</a>
      </div>
      <div>2024 &copy; Redpoll</div>
    </footer>

  </div>

</body>

</html>
