{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block head %}
{{ super() }}
{% set_global show_call_to_action = false %}
{% set_global show_signup_form = false %}
{% endblock head %}

{% block content %}
<section>
  <div class="wrapper">
    <h1 class="heading">Redpoll <span class="crimson">posts</span></h1>

    {% for post in section.pages | sort(attribute="date") | reverse %}
    <div class="post">
      <a href={{ post.permalink }}>
        <h1>{{ post.title }}</h1>
      </a>
      <h2>{{ post.extra.subheading }}</h2>
      <p>{{ post.date }} by {{ post.extra.author }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}