{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block head %}
  {{ super() }}
  {% set_global show_call_to_action = false %}
  {% set_global show_signup_form = false %}
  <link rel="stylesheet" href="{{ config.base_url }}/blog.css">
{% endblock head %}

{% block content %}
  <div id="gradient-background-2"></div>
  <section id="blog-main">
    <div class="wrapper">
      <h1 class=blog-heading><span style="font-weight: 300">REDPOLL</span> Blog</h1>
      <!-- <h2 class=blog-subheading>{{ section.extra.subtitle }}</h2> -->

      {% for post in section.pages | sort(attribute="date") | reverse %}
      <div>
        <div class="post">
          <div class="post-left">
            <a href={{ post.permalink }}>
              <div class="post-inner">
                <p class="post-date">{{ post.date }}</p>
                <p><span class=post-at>@</span><span class="post-by">{{ post.extra.author }}</span></p>
              </div>
            </a>
          </div><div class="post-right">
            <a href={{ post.permalink }}>
            <div class="post-inner">
              <div class="post-inner-text">
                <h1>{{ post.title }}</h1>
                <p>{{ post.extra.subheading }}</p>
              </div>
            </div>
            </a>
          </div>
        </div>
      {% endfor %} 
      <div class="section-spacer"></div>
      </div>
  </div>
</section>
  <!-- </script> -->
{% endblock content %}
