{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}
  <div id="gradient-background-4"></div>
  <section class="header">
    <div class="wrapper">
      <h1>We build probabilistic AI/ML tools, programs, and teams for organizations working in humanity’s most important domains.</h1>

      <h2 style="font-weight: 300">More than 80% of data science efforts are wasted. We believe this is due to the uninterpretability and brittleness of traditional ML models and DS methods. We take a different approach to ML using probabilistic methodology, which allows us to complete months of work &mdash; with interpretable, actionable results &mdash; in days.</h2>
      <br/>
      <br/>
      <div>
        <a href="#subscribe-form" class="plain"><div class="button transparent">Get in touch</div></a>
      </div>

    </div>
  </section>

  <section class="diagonal">
    <div class="wrapper">
      <h1>Services</h1>
      <h2 style="font-weight: 500">We are terraformers; not capacity fillers.</h2>
      <h3 style="font-weight: 300">Our goal is to improve the conditions of your data science program, build a self-sustaining probabilistic ecosystem, and (mostly) move on.</h3>
      <br/>
      <br/>
      <div class="grid-2 small">
        <div>
          <img src="{{ config.base_url }}/img/icons/noun-research-5840824-FFFFFF.svg" class="icon-md"/>
          <br/>
          <h2>Research and development</h2>
          <p>
          We've performed probabilistic programming R&amp;D work for some of the world's biggest and most discerning AI buyers including the US Department of Defense and multinational corporations.
          </p>

          <h3>Low risk</h3>

          <p>R&amp;D is risky &mdash; data science R&amp;D doubly so. This is mainly because knowing the right question is hard, and modern ML tools make it as hard as possible to ask questions and to know which questions are answerable with your data. We use technology that allows us to quickly determine (usually in less than two weeks) whether your data can get you where you want to go, and if not, determine how to address these knowledge gaps.</p>

          <h3>Our Process</h3>

          <ol>
            <li>Problem identification</li>
            <li>Onboard to your systems and data</li>
            <li>Determine whether what is feasible with the data.</li>
          </ol>

          <center><p>go/no-go</p></center>

          <ul>
            <li>If data are sufficient, build out the project</li>
            <li>If data are insufficient, develop a data collection or active learning plan (optional)</li>
          </ul>
        </div>

        <div>
          <img src="{{ config.base_url }}/img/icons/noun-team-1674392-FFFFFF.svg" class="icon-md"/>
          <br/>
          <h2>Team Building</h2>
          <p>
          There is a reason probabilistic ML hasn't taken over: it's hard. It requires users to be skilled in Bayesian statistics, machine learning, and usually a domain. Hiring people with expertise in one of these areas is hard enough, but hiring people with them all is near impossible, especially if you don't already have people with the expertise to interview them.
          </p>

          <p>We build probabilistic ML teams by improving the people you already have. We engage on a specific project and serve and PMs and leads for that project while training your personnel on the job. As the team needs to grow we can perform recruiting and interviewing services.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Why <span class="bold">Probabilistic</span> AI/ML?</h1>
      <p>We have chosen the Bayesian probabilistic AI/ML paradigm because it prioritizes understanding and uncertainty quantification, which is critical for the domains we work in. We have repeatedly observed first hand how traditional ML models and Data Science methods produce models that cross validate well but fail in production. In direct contrast to traditional ML the Bayesian probabilistic paradigm provides the following advantages:
      </p>
      <ul>
        <li>Interpretability</li>
        <li>Predictions are come from distributions, which tell us variance and uncertainty</li>
        <li>Provides rigorous frameworks for choosing between models</li>
        <li>Does more with far less data</li>
        <li>Enables active learning, which help determine which future data would help us best learn</li>
      </ul>
    </div>
  </section>

  <section class="diagonal">
    <div class="wrapper">
      <h1>Dedicated to Open Source and Rust</h1>
      <p>Since our whole shtick is building transparent and safe ML tools, it only makes sense to write performance-critical code in a memory safe language like rust, and to make the source available for scrutiny.
      </p>
      <ul>
        <li>Lace: Bayesian tabular data analysis for Rust and Python</li>
        <li>Changepoint: Bayesian change point analysis for Rust and Python</li>
        <li>rv: Probability distribution and statistical utilities for Rust</li>
      </ul>
    </div>
  </section>
{% endblock content %}
