{% import "macros/person.html" as person %}
{% import "macros/signup.html" as signup %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta name="author" content="Redpoll">
  <meta property="og:title" content="Redpoll"/>
  <meta property="og:image" content="{{ config.base_url }}/img/sea-1-small.jpg"/>
  <meta property="og:description" content="Artificial Intelligence to partner with people; not replace them."/>
  <meta property="og:url" content="{{ config.base_url }}/" />
  <meta property="keywords" content="AI, Artificial Intelligence, Explainable AI, Science, Genomics, Defense, Health, Healthcare, Medicine, Data Science, Analytics, Machine Learning, Ethics" />

  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/nord.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% endblock head %}

{% block content %}

<div class="full-page background enlarge-20">
  <div id="tri-1"></div>
  <div id="tri-2"></div>
</div>

<div class="flex-center">
  <div id="title">
    <h1>Artificial Intelligence designed from the ground up to work with <span class="bold">Human Intelligence</span></h1>
    <p>We understand that people drive innovation in high-risk high-impact domains. To succeed in these domains, AI must work effectively with people. The only way to do that is for AI to work like people.</p>
  </div>
</div>

<div class="content">
  <div class="content-inner">
    <div class="content-inner-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet quam tellus. Nam aliquet nisi non mauris facilisis, sit amet molestie lacus vehicula. Fusce euismod ex sed dui tincidunt consectetur. Vestibulum vel neque dui. Cras at quam eget urna blandit suscipit. In hac habitasse platea dictumst. Maecenas nec pretium libero. Cras a neque diam. Vivamus maximus eget enim a interdum. Pellentesque eu pretium eros.
      </p>
    </div>
  </div>
</div>


{% endblock content %}
