{% import "macros/person.html" as person %}
{% import "macros/signup.html" as signup %}
{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta name="author" content="Redpoll">
  <meta property="og:title" content="Redpoll"/>
  <meta property="og:image" content="{{ config.base_url }}/img/sea-1-small.jpg"/>
  <meta property="og:description" content="Artificial Intelligence to partner with people; not replace them."/>
  <meta property="og:url" content="{{ config.base_url }}/" />
  <meta property="keywords" content="AI, Artificial Intelligence, Explainable AI, Science, Genomics, Defense, Health, Healthcare, Medicine, Data Science, Analytics, Machine Learning, Ethics" />

  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/nord.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% endblock head %}

{% block content %}



<div id="gradient-background-4"></div>

<section class="flex-center header" style="min-height: 80vh;">
  <div id="title" class="wrapper">
    <!-- <h1> -->
    <!--   Artificial Intelligence designed from the ground up to work with <span class="bold">Human Intelligence</span> -->
    <!-- </h1> -->
    <div>
      <center>
      <img
        src="{{ config.base_url }}/img/bird-white.png"
        width="100px"
      />
      <br/>
      <h1> AI for <span class="bold">Understanding</span></h1>
      </center>
    </div>

    <h2 style="font-weight: 300; font-size: 1.6rem">At Redpoll we develop new classes of Artificial Intelligence designed to work <strong>with</strong> people, not <strong>instead of</strong> people.</h2>
    <br/>
    <br/>
    <center>
    <div>
      <a href="#subscribe-form" class="plain"><div class="button">Get in touch</div></a>
    </div>
  </center>
  </div>
</section>


<section class="diagonal gradient">
  <div class="wrapper">
    <h1 style="font-size: 2.3rem; font-weight: 300">Artificial Intelligence designed from the ground up to work with <span class="bold">human intelligence.</span></h1>
    <br/>
  </div>
  <div class="wrapper w-80">
    <div class="grid-2 wide">
      <div>
        <h2>How Data Science is done today</h2>
        <br/>
        <div class="workflow-item">
          <div>
            <img src="{{ config.base_url }}/img/workflows/crisp-dm-light.svg" width="250px">
          </div>
          <div>
            <h3>Modern machine learning is designed for automation, not discovery</h3>
            <p>
            Today's machine learning (ML) tools are designed to highly optimize and automate away individual tasks. One ML model solves one problem. Thus, the data science workflow consists of doing loads work to (maybe) address a single problem/question. And because ML is developed to take tasks from people, ML hides knowledge in a black box, making it inappropriate for high-risk or knowledge-critical tasks.
            </p>
          </div>
        </div>
      </div>

      <div>
        <h2>Doing data science with Redpoll</h2>
        <br/>
        <div class="workflow-item">
          <div>
            <img src="{{ config.base_url }}/img/workflows/redpoll-light-transparent.svg" width="250px">
          </div>
          <div>
            <h3>A new way to do data science</h3>
            <p>
            Redpoll technology is designed to work <em>with</em> people, not <em>instead</em> of people. Our technology enables a much streamlined workflow in which learning occurs up front, which allows users to ask questions with no additional effort and receive transparent answers to drive discovery and innovation in high-risk, high-impact domains.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




{% endblock content %}
