{% extends "base.html" %}
{% block title %}Redpoll Mission{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}

<div id="gradient-background-4"></div>


<section class="header">

  <div class="wrapper">
    <h1 class="upper">Meet the <span class="white">team</span></h1>
    <h2 class="subhead white">
    We are a group of cognitive scientists, engineers, statisticians, and researchers working on some of the most ambitious AI programs for the world's most discerning AI/ML buyers.
    </h2>

  </div>
  <div id="people" class="wrapper full-width">
    <div id="people-container">

      <div class="person">
        <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/bax.jpg)"></div>
        <div>
          <p class="person-name white">Baxter Eaves, PhD</p>
          <p class="person-title">CoFounder &amp; CEO</p>
          <p class="person-bio white">Baxter is a US Navy veteran and holds a PhD in Experimental Psychology from the University of Louisville where he developed computational models of human trust and social learning. He has led a number of DARPA projects and brings 13 years of experience deploying human-inspired AI tech in high-risk industries.
          </p>
        </div>
      </div>

    <div class="person">
      <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/pat.jpg)"></div>
      <div>
        <p class="person-name white">Patrick Shafto, PhD</p>
        <p class="person-title">CoFounder & Scientist at Large</p>
        <p class="person-bio white">
        Patrick is a program manager at DARPA under the Information Innovation office (I20) and professor of Data Sciences at Rutgers University - Newark. He has led a number of projects for agencies including DARPA, DOD, and NSF, and his publications have appeared in top journals of machine and human learning.
        </p>
      </div>
    </div> <!-- END PERSON -->

    <div class="person">
      <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/mike.jpg)"></div>
      <div>
        <p class="person-name white">Michael Schmidt</p>
        <p class="person-title">Principal ML Engineer</p>
        <p class="person-bio white">Michael has 14 years of research and engineering experience. He has built production models for healthcare, agronomy, finance, and law; and has conducted research in the areas of high-energy physics, differential geometry, plasma physics, and high-performance computing.</p>
      </div>
    </div> <!-- END PERSON -->

    <div class="person">
      <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/ken.jpg)"></div>
      <div>
        <p class="person-name white">Ken Swanson</p>
        <p class="person-title">Lead Software Engineer</p>
        <p class="person-bio white">Ken is a veteran engineer with a BSc in Computer Science and Mathematics from Washington University in St. Louis and over 20 years of experience in fields from genetic sequencing to agricultural data science. He has extensive expertise in building and running complex systems to solve difficult problems.</p>
      </div>
    </div> <!-- END PERSON -->

    <div class="person">
      <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/scott-yang.jpg)"></div>
      <div>
        <p class="person-name white">Scott Yang, PhD</p>
        <p class="person-title">Lead ML Scientist</p>
        <p class="person-bio white">Scott, with a PhD in Biophysics from Simon Fraser University, brings over 15 years of research experience in ML. He excels in developing computational models for intricate systems such as DNA replication. Scott has been at the forefront of advancing human-machine interaction, notably in the field of explainable AI.</p>
      </div>
    </div> <!-- END PERSON -->


    </div>
  </div>
</section>

<section class="diagonal">
  <div class="wrapper">
    <h1 class="upper">What we <span class="white">believe</span></h1>
  <p>
    The AI industry is built around black box algorithms, like deep learning, which require incredible amounts of data, and which can fail in unexpected ways. These algorithms have found great success in domains for which data are plentiful and cheap, and for which the cost of failure is low -- domains like ad targeting, speech processing, and image classification. But in safety-intensive domains like healthcare, defense, and public policy, data are sparse and expensive, and the cost of failure is potentially lost lives. Using the same algorithms is unproductive, unsustainable, and dangerous.</p>
    <p>
    We believe the best way to solve these hard, impactful problems safely and sustainably is to start from the ground up. To develop new AI techniques based on human cognition. To build expressive, intuitive, and transparent AI that can be operated and understood by both data scientists and domain experts. <span class="white">That's why we founded Redpoll.</span>
    </p>
  </div>
</section>

{% endblock content %}
