{% extends "base.html" %}
{% block title %}Redpoll Mission{% endblock title %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/blog.css">
<style>
  #title h1, #title p {
    color: white;
  }

  #call-to-action {
    background-color: gray;
  }

  @media only screen and (max-width: 600px) {
    .full-page-flex {
      display: block;
      width: 100%;
      height: auto;
    }

    #landing {
      padding-top: 8rem;
    }
  }
</style>
{% endblock head %}

{% block content %}
  <div id=blog-main-background></div>
  <div style="position: relative; margin: 0 0.5rem;">
    <div id="landing" class=full-page-flex>
      <div id="title">
        <img src="{{ config.base_url }}/img/bird-white.png" width="100px">
        <div class="mission">
          <h1>
            What We Believe
          </h1>
          <div style="max-width: 40rem; margin: 0rem auto;">
            <p style="font-size: 1rem;">
            The AI industry is built around black box algorithms, like deep learning, which require incredible amounts of data, and which can fail in unexpected ways. These algorithms have found great success in domains for which data are plentiful and cheap, and for which the cost of failure is low -- domains like ad targeting, speech processing, and image classification. But in safety-intensive domains like healthcare, defense, and public policy, data are sparse and expensive, and the cost of failure is potentially lost lives. Using the same algorithms is unproductive, unsustainable, and dangerous.</p>
            <p style="font-size: 1rem;">
            We believe the best way to solve these hard, impactful problems safely and sustainably is to start from the ground up. To develop new AI techniques based on human cognition. To build expressive, intuitive, and transparent AI that can be operated and understood by both data scientists and domain experts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
