{% extends "base.html" %}
{% block title %}Redpoll Mission{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div id="gradient-background-4"></div>


<section class="header">

  <div class="wrapper">
    <h1 class="upper">Meet the <span class="white">team</span></h1>
    <h2 class="subhead white">
      We are a group of cognitive scientists, engineers, statisticians, and researchers working on some of the most
      ambitious AI programs for the world's most discerning AI/ML buyers.
    </h2>

  </div>
  <div id="people" class="wrapper full-width">
    <div id="people-container">

      <div class="person">
        <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/bax.jpg)"></div>
        <div>
          <p class="person-name white">Baxter Eaves, PhD</p>
          <p class="person-title">CoFounder &amp; CEO</p>
          <p class="person-bio white">Baxter is a US Navy veteran and holds a PhD in Experimental Psychology from the
            University of Louisville where he developed computational models of human trust and social learning. He has
            led a number of DARPA projects and brings 13 years of experience deploying human-inspired AI tech in
            high-risk industries.
          </p>
        </div>
      </div>

      <div class="person">
        <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/pat.jpg)"></div>
        <div>
          <p class="person-name white">Patrick Shafto, PhD</p>
          <p class="person-title">CoFounder & Scientist at Large</p>
          <p class="person-bio white">
            Patrick is a program manager at DARPA under the Information Innovation office (I20) and professor of Data
            Sciences at Rutgers University - Newark. He has led a number of projects for agencies including DARPA, DOD,
            and NSF, and his publications have appeared in top journals of machine and human learning.
          </p>
        </div>
      </div> <!-- END PERSON -->

      <div class="person">
        <div class="person-image" style="background-image: url({{ config.base_url }}/img/people/mike.jpg)"></div>
        <div>
          <p class="person-name white">Michael Schmidt</p>
          <p class="person-title">Principal ML Engineer</p>
          <p class="person-bio white">Michael has 14 years of research and engineering experience. He has built
            production models for healthcare, agronomy, finance, and law; and has conducted research in the areas of
            high-energy physics, differential geometry, plasma physics, and high-performance computing.</p>
        </div>
      </div> <!-- END PERSON -->


    </div>
  </div>
</section>

{% endblock content %}