{% extends "base.html" %}
{% block title %}Redpoll - {{ page.title }}{% endblock title %}
{% block head %}
  {% set img_url = "../static/img/" ~ page.extra.image %}
  {% set small_img = resize_image(path=img_url, width=1920, height=1080, op="fill") %}
  {{ super() }}
  {% set_global show_call_to_action = false %}
  {% set_global show_signup_form = true %}
  <link rel="stylesheet" href="/blog.css">
  <link rel=" stylesheet" href="/light.css">
  <style>
    #main {
      background-color: #f7f7f7;
    }

    #call-to-action {
      background-color: #888;
    }

    #nav-center div:not([class]) {
        border: 1px solid rgba(255, 255, 255, 0);
        color: white;
    }

    #nav-center div:not([class]):hover {
        border-top: 1px solid rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    #nav {
      border-bottom: 1px solid #ffffff00
    }

    #nav.dark-bkg {
      border-bottom: 1px solid #dddddd
    }

    #nav.dark-bkg #nav-center div:not([class]) {
        color: #333;
    }

    #nav.dark-bkg #nav-center div:not([class]):hover {
        border-top: 1px solid rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }

    #nav {
      border-bottom: 1px solid #ffffff00
    }

    #lightbox {
      height: 100%;
      width: 100%;
      background-color: #000000dd;
      position: fixed;
      z-index: 100;
      text-align: center;
      display: none;
      align-items: center;
      transition: 1s ease;
      justify-content: center;
      transition: all 1s;
    }

    .lightbox-btn {
      color: white;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border: 1px solid white;
      cursor: pointer;
      margin: 0 0.5rem;
      text-align: center;
    }

    #lightbox-img {
      max-width: 95vw;
      max-height: 90vh;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin-top: 2vh;
      margin-bottom: 1rem;
    }

  </style>
  <meta name="author" content="{{ page.extra.author }} (Redpoll)">
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:image" content="{{ small_img }}"/>
  <meta property="og:description" content="{{ page.extra.subheading }}"/>
  <meta property="og:url" content="{{ config.base_url }}/{{ page.path }}" />
  <meta property="keywords" content="{% for item in page.taxonomies.categories %}{% if loop.index == page.taxonomies.categories | length %}{{ item }}{% else %}{{ item }}, {% endif %}{% endfor %}" />
{% endblock head %}

{% block content %}

{% set default_theme = "light-opaque" %}
{% if page.extra.theme %}
{% set page_theme = page.extra.theme %}
{% else  %}
{% set page_theme = default_theme %}
{% endif  %}

<div id="lightbox">
    <div>
      <img id="lightbox-img" src="white-bird.png">
      <p><span id=lightbox-close class=lightbox-btn>Close</span><span id=lightbox-theme class=lightbox-btn>Light</span></p>
    </div>
</div>

<div id=post-main-background></div>
<div id="post-main" class="content-row">
    <img class=bkg-img src="{{ small_img }}">
    <div class="content-box">
      <div id=post-header class="bh-{{ page_theme }}">
        <div id="post-header-blur">
          <img class=bkg-img-blur src="{{ small_img }}">
        </div>
        <div id="post-header-inner">
          <div id=post-meta>
            <div><span class=post-meta-item>BY</span> {{ page.extra.author }}</div>
            <div><span class=post-meta-item>ON</span> {{ page.date }}</div>
            <div><span class=post-meta-item>CAT</span> {{ page.taxonomies.categories }}</div>
          </div><div id=post-titles>
            <h1 class=post-heading>{{ page.title }}</h1>
            <h2 class=post-subheading>{{ page.extra.subheading }}</h2>
          </div>
          <a href="#content-start" class=no-dec>
              <div class="post-scroll-tip mobile-only">
                  &blacktriangledown;
              </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id=post-content class="content-row">
    <div class="content-box">
      <br>
      <br>
      <a name=content-start></a>
      {{ page.content | safe }}
    </div>
  </div>

  <script>
    var lightbox = document.getElementById("lightbox");
    var lightbox_img = document.getElementById('lightbox-img')
    var lightbox_dark = true

    document.getElementById('lightbox-close').addEventListener('click', function (e) {
      lightbox.style.display = "none";
    });

    document.getElementById('lightbox-theme').addEventListener('click', function (e) {
      if (lightbox_dark) {
        lightbox_dark = false
        lightbox.style.backgroundColor = "rgba(155, 155, 155, 0.85)"
        this.textContent = "Dark"
      } else {
        lightbox_dark = true
        lightbox.style.backgroundColor = "rgba(0, 0, 0, 0.85)"
        this.textContent = "Light"
      }
    });

    document.querySelectorAll('#post-content img').forEach(item => {
      item.addEventListener('click', function (e) {
          lightbox_img.setAttribute('src', item.src);
          lightbox.style.display = "flex";
      })
    });

    lightbox.addEventListener('click', function (e) {
      if (e.target.id == "lightbox") {
        lightbox.style.display = "none";
      }
    })
  </script>
{% endblock content %}

