{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <meta name="author" content="Redpoll">
  <meta property="og:title" content="Redpoll"/>
  <meta property="og:image" content="{{ config.base_url }}/img/sea-1-small.jpg"/>
  <meta property="og:description" content="Artificial Intelligence to partner with people; not replace them."/>
  <meta property="og:url" content="{{ config.base_url }}/" />
  <meta property="keywords" content="AI, Artificial Intelligence, Explainable AI, Science, Genomics, Defense, Health, Healthcare, Medicine, Data Science, Analytics, Machine Learning, Ethics" />

{% endblock head %}

{% block content %}
{% endblock content %}
